@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy describes how BET Software (referred to as "we," "us," or "our") collects, uses, and protects the personal information of employees and authorized users of the web application TeamConnect.</p>

<h2>Information We Collect</h2>

<p>We collect the following employee information:</p>
<ul>
    <li>Name</li>
    <li>Job Title/Position</li>
    <li>Department</li>
    <li>Work Phone Number(s)</li>
    <li>Work Email Address</li>
    <li>Office Location/Building</li>
 </ul>